<h1>Report und Ergebnis</h1>

<mat-form-field id="report-selector">
  <mat-select placeholder="Report Auswählen" [(ngModel)]="this.selectedReport">
    <mat-option *ngFor="let report of this.dummydata" [value]="report">
      {{report.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="this.selectedReport !== undefined">
  <h2>Variablen</h2>
  <div id="variables-container">
    <app-dynamic-input *ngFor="let variable of this.selectedReport.variables"
                       [variable]="variable" >
    </app-dynamic-input>
  </div>
</div>
<br>
<button mat-button (click)="showCode === 'true' ? showCode = 'false' : showCode = 'true'" *ngIf="this.selectedReport !== undefined" color="accent">{{showCode == 'true' ? 'Hide':'Show'}} Code</button>
<div id="sql-wrapper" [@flyInOut2]="showCode" >
  <pre>
    <code [innerHTML]="this.selectedReport?.code"></code>
  </pre>
</div>
<div>
  <button mat-button (click)="reportRequest()">Report abschicken</button>
  <div *ngIf="this.reportResult !==undefinded">
    <mat-table #resultTable>
      <ng-container matColumnDef="{{column[0]}}" *ngFor="let column of this.reportResult">
        <mat-header-cell *matHeaderCellDef>{{column[0]}}</mat-header-cell>
        <mat-cell *ngFor="let cell of column | slice:1 ">{{cell}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['name','Start','Ende']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name','Start','Ende'];"></mat-row>

    </mat-table>
  </div>
</div>
<div>
  <button mat-button (click)="exportExcel()">Exportieren in Excel</button>
</div>
