<h1>Report und Ergebnis</h1>

<mat-form-field id="report-selector">
  <mat-select placeholder="Report Auswählen" [(ngModel)]="this.selectedReport">
    <mat-option *ngFor="let report of this.dummydata" [value]="report">
      {{report.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="this.selectedReport !== undefined">
  <h2>Variablen</h2>
  <div id="variables-container">
    <app-dynamic-input *ngFor="let variable of this.selectedReport.variables"
                       [variable]="variable" >
    </app-dynamic-input>
  </div>
</div>
<br>
<button mat-button (click)="showCode === 'true' ? showCode = 'false' : showCode = 'true'" *ngIf="this.selectedReport !== undefined" color="accent">{{showCode == 'true' ? 'Hide':'Show'}} Code</button>
<div id="sql-wrapper" [@flyInOut2]="showCode" >
  <pre>
    <code [innerHTML]="this.selectedReport?.code"></code>
  </pre>
</div>
<div>
  <button mat-button (click)="reportRequest">Report abschicken</button>
  <div *ngIf="this.reportResult !==undefinded">
    <mat-label *ngFor="let column of this.array[0]" color="accent"></mat-label>
  </div>
    <mat-label *ngFor="let rownumber of this.array"
            *ngFor="let row of this.array"></mat-label>
</div>
<div>
  <button mat-button (click)="exportExcel">Exportieren in Excel</button>
</div>
