<h1 mat-dialog-title> Verbesserung Eingabe </h1>
<div mat-dialog-content>
  <p>Für eine Überprüfung der Eingabefelder der Reports werden weitere Informationen benötigt. Bitte tragen sie die Arten der jeweiligen Eingaben ein. </p>

    <h2> Variablen des erstellten Reports </h2>
    <ul type="circle">
      <li *ngFor="let variable of this.inputData"> {{variable.name}} besitzt den Typen
        <mat-form-field>
          <mat-select [(value)]="variable.type">
            <mat-option value="number">number</mat-option>
            <mat-option value="text">text</mat-option>
            <mat-option value="date">date</mat-option>
            <mat-option value="time">time</mat-option>
            <mat-option value="url">url</mat-option>
            <mat-option value="range">range</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
    </ul>
</div>
<div mat-dialog-actions>
<button mat-button>Ok</button>
<button mat-button (click)="onNoClick()">Cancel</button>
</div>
