<h1 mat-dialog-title> Verbesserung Eingabe </h1>
<div mat-dialog-content>
  <p>Für eine Überprüfung der Eingabefelder der Reports werden weitere Informationen benötigt. Bitte tragen sie die Arten der jeweiligen Eingaben ein. Die nachfolgende Liste zeigen die möglichen Typen an.</p>
  <h2>Die Eingabe ist ein/eine ...</h2>
    <ul type="circle">
      <li>Nummer. Bitte tragen sie "number" ein </li>
      <li>Wort/Text. Bitte tragen sie "text" ein </li>
      <li>Datum. Bitte tragen sie "date" ein </li>
      <li>Zeitangabe.Bitte tragen sie "time" ein </li>
      <li>Webseite. Bitte tragen sie "url" ein </li>
      <li>gewisser Zahlenraum. Bitte tragen sie "range" ein </li>
    </ul>

    <h2> Variablen des erstellten Reports </h2>
    <ul type="circle">
      <li *ngFor="let variable of this.selectedReport.variables"> {{variables.name}} besitzt den Typen
         <mat-form-field>
            <input matInput tabindex="1" [(ngModel)]="variableType">
         </mat-form-field>
      </li>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button>Ok</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
